<div class="container py-4">
  <div class="row text-center mb-5">
    <div class="col">
      <h2 class="fw-light">Prestations</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <%= link_to artworks_category_sub_category_path('prestation', 'Cyanotypie'), class: "text-decoration-none text-dark" do %>
        <h5>Cyanotypie</h5>
        <p>Présentation et Atelier</p><br>
        <%= image_tag("Presta-Cyano.jpg", class: "d-block mx-auto img-fluid object-fit-cover rounded-4 link-tile", style: "height: 500px; width: 100%; object-fit: cover;") %>
      <% end %>
    </div>

    <div class="col-md-4 mb-4">
      <%= link_to artworks_category_sub_category_path('prestation', 'Peinture'), class: "text-decoration-none text-dark" do %>
        <h5>Peinture</h5>
        <p>Démarche Artistique et Personalisation</p><br>
        <%= image_tag("Presta-Peinture.jpg", class: "d-block mx-auto img-fluid object-fit-cover rounded-4 link-tile", style: "height: 500px; width: 100%; object-fit: cover;") %>
      <% end %>
    </div>

    <div class="col-md-4 mb-4">
      <%= link_to artworks_category_sub_category_path('prestation', 'Photographie'), class: "text-decoration-none text-dark" do %>
        <h5>Photographie</h5>
        <p>Univers et Séances Photo</p><br>
        <%= image_tag("Presta-Photo.jpg", class: "d-block mx-auto img-fluid object-fit-cover rounded-4 link-tile", style: "height: 500px; width: 100%; object-fit: cover;") %>
      <% end %>
    </div>
  </div>
</div>
